.grid {
	height: 480px;
}
.grid-col1 {
	width: 190px;
	height: 100%;
	background-color: #6e6568;
	color: #fff;
    font-size: 14px; 
    position: relative;
}
.ad {
    width: 250px;
    height: 480px;
    position: absolute;
    top: 0;
    left:-250px;
}
.ad-r {
    position: absolute;
    top:0;
    left:250px;
    z-index: 999;
    width: 0;
    height: 480px;
    background: url(../image/ad-r.jpg);
    transition: all 0.8s;/*用这个盒子做动画效果*/
}
.ad:hover .ad-r{ /*鼠标经过ad盒子时 里面的ad-r盒子宽度变990px*/
    width: 990px;
}
.grid-col1 a{
    color: #fff;
    font-style: normal;
    font-size: 10px;
    margin:0 3px;
}
.grid-col1 a:hover{
    color: #f10215;
}
.grid-col1 ul {
    padding: 10px 0;
}
.grid-col1 ul li{
    padding-left: 10px;
    height: 25px;
    line-height: 25px;
    margin-left: 10px;
}
.grid-col1 ul li:hover{
    background-color: #9c9698;
}

.grid-col2{
    width: 790px;
    height: 100%;
    margin-left: 10px;
}
/*banner部分*/
.grid-col2-b div {
	float:left;
	margin-top: 10px;
}
.grid-col2-b div:last-child{
    float: right;
    margin-top: 10px;
} 
/* 箭头部分 */
.grid-col2-t{
    position: relative;
}
.arrow-l{
    left: 0;
    position: absolute;
    top:50%;
    width:30px;
    height: 60px;
    background:rgba(0,0,0,0.3);
    transform: translateY(-50%);
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    color:rgba(255,255,255,.6);
    font-family:arial;
    font-weight: normal;
}
.arrow-r{
    right: 0;
    position: absolute;
    top:50%;
    width:30px;
    height: 60px;
    background:rgba(0,0,0,0.3);
    transform: translateY(-50%);
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    color:rgba(255,255,255,.6);
    font-family:arial;
    font-weight: normal;
}
.circle{
    width: 168px;
    height: 20px;
    background:rgba(255,255,255,.3);
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    border-radius: 10px;
    padding-left: 10px;
}
.circle li{
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    float:left;
    margin: 4px;
    cursor: pointer;/*鼠标经过li时变成小手*/
}
.circle .current{
   background-color: #f10215; 
}
.grid-col3{
    width: 190px;
    height: 100%;
}
/* 右边模块 */
.login {
    height: 85px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    padding: 15px;
}
.login-t{
    width: 95px;
    height: 60px;
    line-height: 20px;
    font-size: 12px;
    white-space: nowrap;/*强制一行内显示*/
    overflow: hidden;/*溢出隐藏*/
    text-overflow: ellipsis;/* 溢出部分显示省略号 */
    color: #666666;
    padding-left: 60px;   /* 通过padding把文字挤过来 */
    position: relative;
}
.login-t a{
    color: #666666; 
}
.login-t a:hover{
    color: #f10512;
}
.login-b a{
    display:inline-block;
    width: 70px;
    height: 20spx;
    line-height: 20px;
    border: 2px solid #f10215;
    margin-right: 3px;
    text-align:center;
    color:#f10215;
}
.login-b a:hover{
    background-color: #f10215;
    color: #fff;
}
.user-info{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../image/sprite_userinfo@1x.png) no-repeat -70px 0;
}
.user-info img{
    width: 40px;
    border-radius: 50%;
    margin: 5px;
}
.news {
    height: 154px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    padding: 7px 13px 0;
    box-sizing: border-box;
}
.news-t{
    height: 19px;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.news-t a{
    float: left;
    height: 17px;
    line-height: 17px;
}
.cuxiao{
    width: 38px;
    border-right: 1px solid #ccc;
}
.gg{
    margin-left: 15px;
}
.news-t .more{
    float:right;
}
.news-t div{
    height: 2px;
    width: 28px;
    background-color: #f10215;
    position:absolute;
    bottom:-1px;
    left:0;
}
.new-b{
    padding-top: 15px;
}
.news-b li{
    height: 23px;
    line-height: 40px;
    font-size: 35px;
}
.expand {
     height: 209px;
     background-color: #fff;
     overflow:hidden;/*expend这个宽度继承了父亲190宽度*/
}
.expand ul{
    width: 195px;/*父亲是190 但是里面的li 宽度超过了190 摆放不开4个li 所以让ul宽度变大*/
}
.expand li{
    width: 47px;
    height: 69px;
    border-right:1px solid #ccc;
    border-bottom: 1px solid #ccc;
    float: left;
    font-size: 12px;
    text-align: center;
}
